/* Scroll Animation for the Navbar */
.scrolled{
    background: #0b0b0b84;
    box-shadow: 1px 0px 7px 1px rgba(20,19,19,0.75);
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;                                                                   
}


.navbar{
    @apply flex justify-between items-center;
   
}


.nav_links{
   display: flex;
    gap: 30px;
    align-items: center;

}



.nav_link>a{
    @apply  font-medium text-white pb-2 hover:border-b-[1px] px-1;
    font-family: var(--poppins-font);
    letter-spacing: 2px;
    font-size: 10px;
    text-transform: uppercase
    /* transition: all 0.3s; */
}
.activeLink{

    @apply border-b-[1px];
}
.location_container{
    @apply flex items-center space-x-2;
    cursor: pointer;
}
.location{
    letter-spacing: 1.6px;
    font-weight: lighter;
    font-family: var(--roboto-font);
    cursor: pointer;
    font-size: 0.85rem;
}

.nav_signin_btn{

   font-family: var(--poppins-font);
   letter-spacing: 2px;
    padding: 10px 20px;
   background-color: var(--white);
    color: var(--background-color);
    transition: all 0.3s;
    font-weight: 500;
    cursor: pointer;
    border-radius:  5px;
   
}

.nav_signin_btn>span{
    font-size: 1.2rem;
}

.nav_signin_btn:hover{
    background-color:  #ffffffd4;
}



/* responsive for all device width */
@media (max-width: 992px){

    .logo>p:first-child{
        @apply text-2xl;
    }

    .logo>p:last-child{
        @apply text-base;
    }
    .large_nav{
        display: none;

    }

    .desktop_only{
        display: none;
    }


    .mobile_nav{
      
       position: fixed;
       z-index: 99;
       top: 0;
       right: 0;
       height: 100vh;
       background: var(--background-color);
       max-width: 250px;
       width: 100%;
       transform: translateX(100%);
       transition: all 0.3s;
       padding: 30px 20px;
       display: flex;
       flex-direction: column;
       gap: 50px;
       
       
    }


    .mobile_nav.active_mobile_nav{
        transform: translateX(0);
        

    }

    .mobile_nav_links{
       white-space: nowrap;
       display: flex;
       flex-direction: column;
        gap: 10px;

       
       
    }

    .mobile_nav_link>a, .mobile_nav_link>button{
        @apply text-2xl;
        font-family: var(--poppins-font);
        letter-spacing: 1px;
        font-size: 10px;
        text-transform: uppercase;
        color: var(--white);
        transition: all 0.3s;
        padding-bottom: 5px;
    }



   
  


  
    .nav_signin_btn{
        display: none;
    }

    .location_container{
        display: none;
    }


}

@media (min-width: 993px){
    .mobile_nav{
        display: none;
    }
    .mobile_only{
        display: none;
    }

    .hamburger_menu{
        display: none;
    }
}




