.footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container{
    margin-top: 50px;
    border-top: 1px solid var(--slight-gray);
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    
}


.logo_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.logo_container>p{
    font-size: 0.9rem;
    max-width: 500px;
    text-align: start;
    font-family: var(--roboto-font);
    line-height: 2;
    letter-spacing: 1px;
}


.mid{
    display: flex;
    flex-direction: column ;
    gap: 30px;
}



.links{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 10px;
}

.mid>p, .left>p{
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: var(--roboto-font);
}

.links>a{
    font-size: 0.8rem;
    font-family: var(--poppins-font);
    letter-spacing: 1px;
}

.links>a:hover{
    color: var(--yellow-shade);
}


.bottom{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom>p{
    font-size: 0.8rem;
    font-family: var(--roboto-font);
    letter-spacing: 1px;
    
}

.left{
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* align-items: center; */
}

.partner_cont{
    height: 60px;
    width: 130px;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: 10px; */
   
    

}

.partner{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}







