.popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_cont {
    width: 30%;
    height: 30%;
    background-color: rgba(11, 10, 10, 0.735);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.popup_cont p {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.6px;
    font-weight: 500;
    font-family: var(--poppins-font);
}


.popup_cont select {
    background-color: #282c34;  
    color: #ffffff;  
    padding: 10px;   
    border: 1px solid #ffffff;  
    border-radius: 5px; 
    font-size: 16px; 
    letter-spacing: 2px; 
    width: 70%;  
    appearance: none;  
}


.popup_cont select option {
    background-color: #282c3469;  
    color: #b8b2b2;  
    letter-spacing: 1.6px;
}


.popup_cont select:focus {
    outline: none;
    border-color: #01080a1a;  
}


.popup_cont select::after {
    content: "▼";  
    position: absolute;
    right: 10px;
    pointer-events: none;
}


.popup_cont select option {
    font-size: 1.2rem;
}



.popup_cont .save_btn{
    @apply  rounded-lg;
   font-family: var(--poppins-font);
   letter-spacing: 2px;
    padding: 10px 30px;
   background-color: var(--white);
    color: var(--background-color);
    transition: all 0.3s;
    font-weight: 500;
    cursor: pointer;
}





.save_btn:hover{
    background-color:  #ffffffd4;
}



@media (max-width: 768px) {
    .popup_cont {
        min-width: 300px;
        height: 300px;
    }
    .popup_cont p{
        font-size: 18px;
        
    }


    .popup_cont select {
      
        width: 80%;  
 
    }

    
    
    
}


@media (min-width: 769px) and (max-width: 1280px) {

    .popup_cont{
        min-width: 400px;

    }

    .popup_cont select{
        min-width: 70%;
    }

}