.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container>p{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 3px;
    font-family: var(--roboto-font);
}

.container>p::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: var(--yellow-shade);
    margin-top: 10px;
}


.card_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card{

    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 400px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    position: relative;

}



.card:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease, opacity 0.3s ease;
    z-index: -1;
}

.card:hover .image {
    filter: brightness(0.8);
    opacity: 0.9;
}

.release_date {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--yellow-shade);
    font-family: var(--roboto-font);
    color: var(--slight-gray);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1; 
}






@media  (max-width: 1023px){
   
    .card{
    height: 300px;
    
    }


    .container>p{
        font-size: 24px;
        margin-left: 10px;
    }

  
}




@media  (max-width: 375px) {


    .card_container{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .card {
       min-height: 300px;

    }

    .release_date {
        font-size: 10px;
    }
}


@media (min-width: 376px) and (max-width: 576px) {
    .card_container{
        grid-template-columns: repeat(2, 1fr);

    }

    .card {
        height: 300px;
    }

    .release_date {
        font-size: 12px;
    }
}


@media (min-width: 577px)and (max-width: 768px) {
    .card_container{
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        height: 300px;
    }

    .release_date {
        font-size: 12px;
    }
}


